header {
  height: 100vh;
  background-image: url('../img/bg.png');
}
.logo {
  width: 131px;
  height: 38px;
}
.nav-header {
  display: flex;
  margin-left: 6em;
  padding-top: 2.5em;
  align-items: center;
}
.nav-header .links {
  margin-left: 9em;
  align-self: center;
  margin-top: 12px;
}
.nav-header .links li {
  display: inline-block;
  margin-left: 3em;
}
.nav-header .links li a {
  text-decoration: none;
  color: #fff;
  font-size: 13pt;
  font-weight: bolder;
}
.nav-header .links li a:hover {
  text-decoration: underline;
}
.nav-header .links .button-login {
  background-color: #fff;
  border-radius: 35px;
  margin-left: 21em;
  padding: 7px 35px;
}
.nav-header .links .button-login a {
  color: #52509D;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Mobile */
@media (max-width: 600px) {
  header {
    background-image: none;
    background-color: #614ea9;
  }
  header .mobile .nav-header-mobile {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 2em;
  }
  header .mobile .nav-header-mobile .logo {
    color: #fff;
    font-size: 18pt;
    font-weight: bolder;
  }
  header .mobile .nav-header-mobile .dropdown {
    /* position: relative; */
  }
  header .mobile .nav-header-mobile .dropdown img {
    align-self: baseline;
  }
  header .mobile .nav-header-mobile .dropdown nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100vw;
    visibility: hidden;
    z-index: 3;
  }
  header .mobile .nav-header-mobile .dropdown nav a {
    background-color: #a45cbd;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #52509D;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}
